---
import Airrental from "../assets/air-rental.png";
import Mentorshow from "../assets/mentorshow-lp.png";
import Reveal from "../assets/reveal.png";
import Tatoo from "../assets/tatoo-formation.png";
import Project from "./Project.astro";
import { Badge } from "./ui/badge";
import { Button } from "./ui/button";
---

<div id="projects" class="bg-neutral-950 py-16 md:py-32 px-4 md:px-16 flex flex-col justify-center items-center gap-10 md:gap-20">
  <div class="flex flex-col gap-4 justify-center items-center max-w-3xl">
    <Badge>Projets réalisés</Badge>
    <h2 class="text-center font-display text-3xl md:text-5xl font-medium bg-gradient-to-r text-transparent from-[#BDB0F0] via-white to-[#AE5DC7] bg-clip-text">Ce que nous avons déjà accompli pour nos clients</h2>
    <p class="text-base md:text-lg text-white/70 font-normal text-center px-4">Des projets concrets, sur mesure, avec des résultats à la clé :</p>
  </div>
  <div class="pb-4 w-full md:w-auto">
    <Project
      title="Tatoo Formation"
      description="Plateforme de formation certifiante Qualiopi"
      stack={["Next.JS", "Rust", "TailwindCSS", "Linear"]}
      image={Tatoo}
      link="https://tatoo-formation.xyz/"
    />
    <Project
      title="Mentorshow"
      description="Plateforme de masterclass en ligne animées par des experts pour apprendre à son rythme, leader du secteur en France"
      stack={["React Native", "Next.JS", "AdonisJS", "Linear"]}
      image={Mentorshow}
      fullWidth={true}
      link="https://mentorshow.com/"
    />
    <Project
      title="Reveal"
      description="Plateforme de monétisation permettant aux créateurs de vendre du contenu exclusif à leur communauté, architecture DDD, collaboration avec Figue.io"
      stack={["Next.JS", "NestJS", "TailwindCSS", "Linear"]}
      image={Reveal}
      fullWidth={true}
      link="https://reveal.me/"
    />
    <Project
      title="Dashboard Keeper"
      description="Gestion des réservations, statistiques, utilisateurs pour Air Rental, app mobile de gestion pour Keepers"
      stack={["React Native", "React", "InertiaJS", "AdonisJS", "TailwindCSS", "Linear"]}
      image={Airrental}
      link="https://air-rental.fr/"
    />
  </div>
  <!-- <Button variant="secondary" className="w-full md:w-auto">Découvrir les autres projets</Button> -->
</div>